{% extends "layout.html.twig" %}

{% block title %}{{ livre.title }}{% endblock %}

{% block content %}
<p>
    <h2>{{ livre.title }}</h2>
    <ul>
	{% for author in authors %}
        <li>Auteur : {{ author.FirstName }}</li>
		<li>ISBN  : {{ author.ISBN }}</li>
    {% else %}
        
    {% endfor %}
	</ul>
	<p>{{ livre.summary }}</p>
</p>
{% endblock %}
