{% extends "layout.html.twig" %}

{% block title %}{{ livre.title }}{% endblock %}

{% block content %}
<p>
    <h2>{{ livre.title }}</h2>
    <p>{{ livre.summary }}</p>
    <h3>Comments</h3>
    {% for author in authors %}
        <strong>{{ author.FirstName }}</strong> said : {{ author.id }}<br>
    {% else %}
        No comments yet.
    {% endfor %}
</p>
{% endblock %}
